/* Stili universali */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Dark-mode */
header, main, footer {
    background-color: black;
    color: white;
}


/* Stili griglia */
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cella {
    width: 30vw;
    height: 30vw;
    border: 2px solid gray;
    background-color: white;
    color: black;
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
    padding-top: calc((30vw - 2rem) / 2);
}

